html {
    background-color: bisque;

}
h1 {
    font-size: 45px;
    color: bisque;
    text-align: center;
}
.centerpane {
    text-align: center;
    width: 600px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    color:brown;
    background-color: darksalmon;
}
.profilepic {
    border-radius: 50%;
    width:200px;
}
.lilogo {
    width: 100px;
}
table {
    padding: 20px;
    margin: 60 40;
    width: 100%;
    background-color: coral;
    text-align: center;
}
th {
    font-size: 26px;
    color: brown;
}
td {
    font-size: 18px;
}
ol, ul {
    list-style-position: inside;
}